.container {
    width: 100vw;
    height: 100vh;
    background-color: white; 
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    padding: env(safe-area-inset-top) 20px env(safe-area-inset-bottom); 
}


.frame {
    margin-top: 166px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-top: 0; 
    text-align: center; 
}

p{
    margin-top: 5px ;
    color: blue;
}
.subtitle{
    
}


.startButton {
    margin-top: 100px;
    background-color: #d1d1d1;
    color: white;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
  }
  
.startButton:hover {
    transform: scale(1.05);
    color: rgb(0, 0, 0);
  }
  
 
  

.team {
    margin-bottom: 30px; 
    text-align: center; 
}