*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: white; 
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-family: "Tsukimi rounded";
    
}

.left_branch{
    position: absolute;
    top: 50px;
    left: 0px ;
}
   
.right_branch{
    position: absolute;
    bottom: 70px;
    right: 0px ;
}

.container .text_container{
    position: absolute;
    top: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    
}

.subtitle{
    font-size: 30px;
}

.sentence{
margin-top: 0px;
}