.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    margin-top: 20%;
}
.description{
    min-width: 100px;
    max-width: 300px;

}