#container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "tsukimi rounded";
    color: #333;
    gap: 30px;
}

#change_password{
border-radius: 10px;
cursor: pointer;
transition: cursor 500ms ease-in-out;
padding: 5px 10px;
padding-bottom: 5px;
}

#change_password:hover {
    transform: scale(1.05);
}

#delete_account{
    border-radius: 10px;
    cursor: pointer;
    transition: cursor 500ms ease-in-out;
    padding: 5px 10px;
    padding-bottom: 5px;
}

#delete_account:hover {
    transform: scale(1.05);
}
#page_title{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

