

.container {
    position: relative; 
    width: 100vw;
    height: 100vh;
    background-color: white; /* Or any background you prefer */
    overflow: hidden;
  }
  
.letter {
    font-size: 100px;
    position: absolute;
    font-size: 2rem;
    color: rgb(52, 52, 53);
    opacity: 0;
    animation: fadeIn 1s forwards, dissolve 1s 3s forwards;
    padding: 80px;
    font-family:  "Tsukimi rounded";
  }
  


  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
