*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.left_branch{
    position: absolute;
    top: 50px;
    left: 0px ;
}
   
.right_branch{
    position: absolute;
    bottom: 70px;
    right: 0px ;
}

.container .text_container{
    position: absolute;
    top: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
    
}

