.container {
    width: 100vw;
    height: 100vh;
    background-color: white; 
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-family: "Tsukimi rounded";
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    margin-top: 30px;
}

.subtitle{
    margin-top: 30px;
}

.subtitle .sign_up {
   font-size: 26px;
   margin-left: 0;
}

.signup_container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup_button{
    background-color: #b8b7b7;;
    color: white;
    font-size: 13px;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    padding: 5px 10px;
    padding-bottom: 5px;
}

.signup_button:hover {
    transform: scale(1.05);
}
